/* цвет основного тексту #212121 */
/* цвет вторичного тексту #757575 */
/* акцент #2196F3 */
/* белый цвет #ffffff */
/* вторичный цвет фона #2F303A */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-gov-color: #ffffff;
  --secondary-sov-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-gov-color);
}

.link {
  list-style: none;
}

button {
  color: var(--title-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: var(--primary-gov-color);
}

a {
  text-decoration: none;
  color: var(--title-text-color);
}

header {
  background-color: var(--primary-gov-color);
}

/* Стилизация логотипа */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

.site .logo {
  color: #000000;
}

.footer .logo {
  color: var(--primary-gov-color);
}

/* Стилизация навигации сайта */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link a {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.link a:hover,
.link a:focus {
  color: var(--accent-color);
}

/* Стилизация контактов */
.nav-svjaz a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-svjaz a:hover,
.nav-svjaz a:focus {
  color: var(--accent-color);
}

.skrit {
  width: 0;
  height: 0;
  overflow: hidden;
}

li {
  list-style-type: none;
}

/*Cтилизация области герой*/

.geroj {
  color: var(--primary-gov-color);
  background-color: var(--secondary-sov-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
}

/*Стилизация наши преимущества*/

.privilege {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.privilege-abzaz {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.job {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* Стилизация footer */

/* Стилизация контактов footer */
.footer {
  background-color: var(--secondary-sov-color);
}

.footer-contacts {
  color: var(--primary-gov-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts a {
  color: rgba(255, 255, 255);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}
.footer-contacts .footer-svjaz {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
